@charset "UTF-8";

.sec {
  width: 100%;
  margin: auto;
}

.sec-container1 {
  opacity: 0;
  width: 85%;
  margin: auto;
  padding: 15rem 0 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sec-container1--pt0 {
  padding-top: 0;
}

.sec-container1--bb {
  border-bottom: 1px solid #707070;
}

.sec-container2 {
  opacity: 0;
  width: 85%;
  margin: auto;
  padding: 0 0 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.sec-container-right {
  width: 40%;
}

.sec-container-right__hd2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.sec-container-right__txt {
  line-height: 2;
}

.sec-container-left {
  width: 40%;
}

.sec-container-form {
  opacity: 0;
  width: 85%;
  margin: auto;
  padding: 5rem 0 8rem;
}

.sec-container-form__hd2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 8rem;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form {
  width: 70%;
}

.form-parts {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
  border-bottom: 1px solid #707070;
}

.form-parts__label,
.form-parts__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: none;
  outline: none;
}

.form-parts__label {
  width: 45%;
  font-size: 1.2rem;
}

.form-parts__label--bbnone {
  border-bottom: none;
}

.form-parts__input {
  width: 55%;
}

.form-parts__input:focus {
  outline: none;
}

.form-parts:nth-of-type(1),
.form-parts:nth-of-type(2),
.form-parts:nth-of-type(3) {
  width: 70%;
  margin: 0 auto 5rem;
}

.form-parts:nth-of-type(3) {
  margin-bottom: 7rem;
}

.form-parts:nth-of-type(3)::after {
  content: "ご注文に関するお問い合わせの際は必ずご記載ください";
  font-size: 1.1rem;
  display: block;
  position: absolute;
  bottom: -2rem;
  left: 0;
}

.form-parts:nth-of-type(4) {
  border-bottom: none;
  display: block;
}

.form-parts__textarea {
  width: 100%;
}

.form-parts__textarea:focus {
  outline: none;
}

.footer-about {
  text-align: center;
  width: 100%;
  padding: 3rem 0 8rem;
  background-color: #f7f7f7;
}

.footer-about__link {
  color: #707070;
}

@media screen and (max-width: 768px) {
  .sec-container1 {
    display: block;
  }

  .sec-container2 {
    display: block;
  }

  .sec-container-right {
    width: 100%;
    margin-bottom: 3rem;
  }

  .sec-container-left {
    width: 100%;
  }

  .form-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form {
    width: 100%;
  }

  .form-parts__input {
    text-align: right;
  }

  .form-parts:nth-of-type(1),
  .form-parts:nth-of-type(2),
  .form-parts:nth-of-type(3) {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .sec-container1 {
    display: block;
  }

  .sec-container2 {
    display: block;
  }

  .sec-container-right {
    width: 100%;
    margin-bottom: 3rem;
  }

  .sec-container-left {
    width: 100%;
  }

  .form-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form {
    width: 100%;
  }
}

/*# sourceMappingURL=map/about.css.map */
