@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

@font-face{
  font-family: "koburina";
  src:local("koburina"), url(../font/koburina/koburina.otf) format("opentype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #505050;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: auto;
  position: relative;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }

  .sp {
    display: none;
  }

  
  .gift-btn__link {
    padding: 0.5rem 2rem;
  } 

}
@media screen and (max-width: 599px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}
.header {
  width: 100%;
  position: absolute;
  z-index: 999;
}
.header.is-open .nav-toggle__bar:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header.is-open .nav-toggle__bar:nth-child(2) {
  width: 0;
  left: 50%;
}
.header.is-open .nav-toggle__bar:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.news {
  width: 100%;
  color: #fff;
  background-color: #768a3e;
  text-align: center;
  padding: 0 7.5%;
  font-size: 1.2rem;
  position: relative;
  z-index: 0;
  line-height: 3;
  display: none;
}

.header-flex {
  width: 100%;
  padding: 2rem 5rem;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-flex.is-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-logo {
  width: 34%;
  max-width: 400px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
  -webkit-animation: fadeUp 0.7s ease-in-out both;
  animation: fadeUp 0.7s ease-in-out both;
}
.header-logo__inner {
  display: block;
  width: 100%;
  margin: auto;
}

.nav-toggle {
  width: 33%;
  height: 1.7rem;
  position: relative;
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: fadeUp 0.7s ease-in-out both;
  animation: fadeUp 0.7s ease-in-out both;
}
.nav-toggle__inner {
  width: 3rem;
  height: 1.7rem;
  position: relative;
  z-index: 101;
  cursor: pointer;
}
.nav-toggle__bar {
  background-color: #d6ac4e;
  width: 100%;
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.nav-toggle__bar:nth-child(1) {
  top: 0px;
}
.nav-toggle__bar:nth-child(2) {
  top: 8px;
}
.nav-toggle__bar:nth-child(3) {
  top: 16px;
}

.icons {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  z-index: 101;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-animation: fadeUp 0.7s ease-in-out both;
  animation: fadeUp 0.7s ease-in-out both;
}
.icons__inner {
  display: block;
  width: 2.5rem;
  position: relative;
}
.icons__inner:not(:nth-of-type(1)) {
  margin-left: 2rem;
}
.icons__amount {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  color: #fff;
  font-size: 1rem;
  background-color: #d6ac4e;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
}
.icons.is-fixed {
  visibility: hidden;
}

nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: none;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: white;
}
nav.is-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}

.nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  position: relative;
}
.nav-inner__left {
  margin-right: 7.5rem;
}
.nav-inner__right {
  margin-left: 7.5rem;
}

.nav-list {
  padding: 0;
}

.nav-list-item__txt {
  display: block;
  font-size: 2rem;
  color: #d6ac4e;
  font-weight: bold;
}
.nav-list-item__txt--mb30 {
  margin-bottom: 30px;
}
.nav-list-item__txt--mb50 {
  margin-bottom: 50px;
}
.nav-list-item__link {
  display: block;
  font-size: 2rem;
  color: #d6ac4e;
  font-weight: bold;
}
.nav-list-item__link--mb30 {
  margin-bottom: 30px;
}
.nav-list-item__link--mb50 {
  margin-bottom: 50px;
}

.child-list {
  padding: 0;
}

.child-list-item__txt {
  display: block;
  font-size: 1.7rem;
  color: #d6ac4e;
}
.child-list-item__txt::before {
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 4rem;
  background: url("/img/common/nav-bar.svg") no-repeat;
  background-size: contain;
  margin-right: 1rem;
  margin-bottom: 0.15rem;
}
.child-list-item__txt--mb20 {
  margin-bottom: 20px;
}
.child-list-item__txt--mb30 {
  margin-bottom: 30px;
}
.child-list-item__link {
  display: block;
  font-size: 1.7rem;
  color: #d6ac4e;
}
.child-list-item__link::before {
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 4rem;
  background: url("/img/common/nav-bar.svg") no-repeat;
  background-size: contain;
  margin-right: 1rem;
  margin-bottom: 0.15rem;
}
.child-list-item__link--mb30 {
  margin-bottom: 30px;
}
.child-list-item__link-span {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background-color: #d6ac4e;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin-left: 1rem;
}

.gran-child-list-item__link {
  display: block;
  color: #d6ac4e;
  padding-left: 5rem;
}
.gran-child-list-item__link--mb20 {
  margin-bottom: 20px;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}
.sns__item {
  color: #d6ac4e;
  display: block;
  font-weight: bold;
}
.sns__item:last-of-type {
  margin-left: 2rem;
}
.sns__item:last-of-type::before {
  content: "|";
  display: inline-block;
  color: #d6ac4e;
  margin-right: 2rem;
}

.s-cart {
  display: none;
  opacity: 0;
  visibility: hidden;
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #fff9ed;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.s-cart__container {
  padding: 15rem 3rem 10rem 5rem;
}
.s-cart__header {
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-cart__close {
  position: relative;
  top: 0;
  right: 0rem;
  width: 1.5rem;
  cursor: pointer;
}
.s-cart__close:before {
  content: "";
  display: block;
  background-color: #707070;
  width: 1px;
  height: 2rem;
  position: absolute;
  top: 0%;
  right: 1rem;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.s-cart__close:after {
  content: "";
  display: block;
  background-color: #707070;
  width: 1px;
  height: 2rem;
  position: absolute;
  top: 0%;
  right: 1rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.s-cart__content {
  padding: 3rem 1.5rem 5rem 0;
}
.s-cart__sub {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.s-cart__ttl {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.s-cart__ttl-num {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.s-cart__ttl-main {
  font-family: "Acme", sans-serif;
  padding-left: 1rem;
}
.s-cart__herb {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.s-cart__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.s-cart__left {
  width: 45%;
}
.s-cart__right {
  width: 45%;
}
.s-cart__footer {
  font-family: "Acme", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 3rem 0 3rem 0;
  margin-bottom: 5rem;
}
.s-cart__total {
  font-size: 1.6rem;
  font-family: "Acme", sans-serif;
}
.s-cart__total-price {
  font-size: 2rem;
  padding-left: 50%;
}
.s-cart.is-active {
  display: block;
  -webkit-animation: slideToLeft 0.5s ease-in-out both;
  animation: slideToLeft 0.5s ease-in-out both;
}

.search {
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 102;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 35%;
  border-bottom: 1px solid #d6ac4e;
}
.search__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  outline: none;
  border: none;
  padding-bottom: 0.5rem;
  width: 90%;
  color: #505050;
}
.search__btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  padding-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url(/img/common/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.search__close {
  width: 3rem;
  height: 2.5rem;
  position: fixed;
  top: 3rem;
  left: 5rem;
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.search__close-bar {
  background-color: #d6ac4e;
  width: 100%;
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
.search__close-bar:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.search__close-bar:nth-child(2) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.search.is-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}

@media screen and (max-width: 768px) {
  .header-logo__inner {
    width: 100%;
  }

  .nav-inner__left {
    margin-right: 2.5rem;
  }
  .nav-inner__right {
    margin-left: 2.5rem;
  }

  .s-cart {
    width: 75%;
  }

  .search__container {
    width: 60%;
  }
}
@media screen and (max-width: 599px) {
  .news {
    line-height: 2;
  }

  .header-flex {
    padding: 2rem 2.5rem;
  }

  .header-logo {
    width: 50%;
  }
  .header-logo__inner {
    width: 100%;
  }

  .nav-toggle {
    width: 20%;
    height: 1.7rem;
    position: relative;
    z-index: 999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-toggle__inner {
    width: 2.5rem;
    height: 1.7rem;
  }

  .icons {
    width: 20%;
  }
  .icons__inner {
    width: 2.5rem;
  }
  .icons__inner:nth-of-type(1) {
    padding: 0.2rem;
    display: none;
  }
  /* スマホで表示した時にもカートのマークを出したいので、コメントアウトする */
  /* .icons__inner:nth-of-type(2) {
    display: none;
  } */
  .icons.is-fixed {
    visibility: hidden;
  }

  .header.is-open .icons {
    z-index: 1000;
  }
  .header.is-open .icons__inner {
    display: block;
    visibility: visible;
  }
  .header.is-open .icons__inner:nth-of-type(3) {
    display: none;
  }
  .header.is-open .icons__inner:nth-of-type(2) {
    display: none;
  }

  nav {
    display: none;
    height: 100vh;
    padding: 15rem 0 10rem;
    overflow: scroll;
  }

  .nav-inner {
    width: 85%;
    margin: auto;
    display: block;
  }
  .nav-inner__left {
    margin-right: 0rem;
  }
  .nav-inner__right {
    margin-left: 0rem;
  }

  .nav-list-item__link {
    display: block;
  }
  .nav-list-item__link--mb30 {
    margin-bottom: 2rem;
  }
  .nav-list-item__link--mb50 {
    margin-bottom: 3rem;
  }

  .sns {
    padding-top: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: static;
    bottom: 0rem;
    left: 0rem;
  }

  .s-cart {
    width: 90%;
  }
  .s-cart__close {
    right: 0;
  }
  .s-cart__content {
    padding: 3rem 0 5rem 0;
  }
  .s-cart__flex {
    display: block;
  }
  .s-cart__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .s-cart__right {
    width: 100%;
  }
  .s-cart.is-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .search {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 20rem;
    z-index: 1000;
  }
  .search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 80%;
  }
  .search__input {
    width: 90%;
  }
  .search__close {
    left: 3rem;
  }
}
.footer {
  margin: 0rem auto 5rem;
  text-align: center;
}

.sort-left {
  float: left;
  padding-left: 2.33333%;
  padding-bottom: 3rem;
  margin-left: -1%;
}

.sort-right {
  float: right;
  padding-bottom: 3rem;
  margin-right: 1%;
}

.accordion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.accordion__container {
  position: relative;
  padding-right: 4rem;
  padding-left: 1rem;
}
.accordion__container--pr0 {
  padding-right: 0;
}
.accordion__title {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 2rem;
  z-index: 2;
}
.accordion__title::before, .accordion__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  right: 0.2rem;
  width: 1rem;
  height: 0.1rem;
  background-color: #707070;
  -webkit-transform: translate(-0.2rem, -45%);
  transform: translate(-0.2rem, -45%);
}
.accordion__title::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.accordion__title::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: -0.5rem;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.accordion__title.is-active::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion__title.is-active::after {
  opacity: 0;
}
.accordion__content {
  visibility: hidden;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.accordion__content.is-open {
  visibility: visible;
  line-height: 2;
  height: auto;
  opacity: 1;
}

.clearall {
  font-size: 1.2rem;
  cursor: pointer;
}

.sort-inner-list {
  width: 100%;
  padding: 3.5rem 1rem 0 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.sort-inner-list.is-active {
  opacity: 1;
  height: 300px;
  overflow: scroll;
}
.sort-inner-list.is-active::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.3rem;
}
.sort-inner-list.is-active::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.sort-inner-item {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  /*---↓checkboxのcss---*/
}
.sort-inner-item__label {
  position: relative;
  padding-left: 2.5rem;
}
.sort-inner-item input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
input[type=checkbox] + .sort-inner-item__label::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #505050;
}
input[type=checkbox] + .sort-inner-item__label::after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 1rem;
  position: absolute;
  top: 0rem;
  left: 0.6rem;
  background: #fff;
  border-right: 1px solid #505050;
  border-bottom: 1px solid #505050;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input[type=checkbox]:checked + .sort-inner-item__label::after {
  opacity: 1;
}

@media screen and (max-width: 599px) {
  .sp-filer-btn {
    float: left;
    color: #505050;
    font-size: 1.2rem;
  }

  .sort-left {
    display: none;
    float: none;
    padding-bottom: 3rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    visibility: hidden;
    position: relative;
  }
  .sort-left.is-active {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10rem 0 0 0rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    -webkit-animation: fadeIn 0.5s ease-in-out both;
    animation: fadeIn 0.5s ease-in-out both;
  }
  .sort-left.is-active .backBtn {
    position: absolute;
    top: 10rem;
    right: 5rem;
    font-size: 1.2rem;
    z-index: 9999;
    color: #505050;
  }

  .accordion {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 5rem;
  }
  .accordion__container {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 2rem;
  }
  .accordion__title {
    display: block;
    width: 30%;
  }
  .accordion__title--exc {
    width: 100%;
  }

  .sort-inner-list {
    width: 100%;
    padding: 2rem 1rem 0 0;
    background-color: rgba(255, 255, 255, 0.8);
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .sort-inner-list.is-active {
    height: auto;
    overflow: auto;
  }
  .sort-inner-list.is-active::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
  }
  .sort-inner-list.is-active::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-container {
    padding: 2.5rem 0 3rem;
    margin-left: -5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btn-container__clear {
    color: #505050;
    border: 1px solid #707070;
    width: 12rem;
    padding: 0.3rem 0;
    text-align: center;
    border-radius: 3rem;
  }
  .btn-container__search {
    color: #fff;
    background-color: #afafaf;
    width: 12rem;
    padding: 0.3rem 0;
    text-align: center;
    border-radius: 3rem;
    margin-left: 1.5rem;
  }
}
.product-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 32%);
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .product-list {
    width: 100%;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 49%);
    -webkit-column-gap: 2%;
    -moz-column-gap: 2%;
    column-gap: 2%;
  }
}
@media screen and (max-width: 599px) {
  .footer {
    margin: 20rem auto 5rem;
    text-align: center;
  }
  .product-list {
    display: block;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.product-item {
  opacity: 0;
  margin-bottom: 7rem;
  /* position:absolute; */
}
.product-item__date {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.product-item__link {
  display: block;
  margin-bottom: 1rem;
}
.product-item__sub {
  color: #707070;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.product-item__sub1 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.product-item__ttl {
  color: #5d5d5d;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-item__ttl-num {
  font-family: "Acme";
  padding-right: 1rem;
}
.product-item__ttl-main {
  font-family: "Acme";
  padding-left: 1rem;
  text-align: left;
}

.product-item__ttl1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-item__ttl-num1 {
  color: white;
  font-family: "Acme";
  padding-right: 1rem;
}
.product-item__ttl-main1 {
  color: white;
  font-family: "Acme";
  padding-left: 1rem;
  text-align: left;
}

.product-item__name {
  font-family: "koburina";
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product-item__name1 {
  color: white;
  font-family: "koburina";
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product-item__material {
  font-size: 1.1rem;
  color: #505050;
  margin-bottom: 3rem;
  text-align: center;
}

.product-item__material1 {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .product-item {
    width: 100%;
  }
}
.acd-select {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}
.acd-select__head {
  width: 100%;
  font-size: 1.8rem;
  font-family: "Acme", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-left: 1rem;
}
.acd-select__taxin {
  font-size: 1.4rem;
  cursor: pointer;
  padding-right: 3.5rem;
  position: relative;
}
.acd-select__taxin::before, .acd-select__taxin::after {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  right: 0.5rem;
  width: 1rem;
  height: 0.1rem;
  background-color: #707070;
  -webkit-transform: translate(-0.2rem, -45%);
  transform: translate(-0.2rem, -45%);
}
.acd-select__taxin::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.acd-select__taxin::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: -0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.acd-select__taxin.is-active::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.acd-select__taxin.is-active::after {
  opacity: 0;
}
.acd-select__list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  position: absolute;
  /* top: 2.8rem; */
  z-index: 2;
  left: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.acd-select__list.is-open {
  line-height: 2;
  height: auto;
  opacity: 1;
}
.acd-select__item {
  padding: 1rem;
  cursor: pointer;
}
.acd-select__item:hover {
  background-color: #fff9ed;
}

.delivery-select {
  padding-left: 2rem;
}
.delivery-select__txt {
  width: 100%;
  border-bottom: 1px solid #707070;
  padding-right: 6rem;
  padding-left: 1rem;
  padding-bottom: 0.4rem;
  position: relative;
  cursor: pointer;
}
.delivery-select__txt::before, .delivery-select__txt::after {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  right: 0.5rem;
  width: 1rem;
  height: 0.1rem;
  background-color: #707070;
  -webkit-transform: translate(-0.2rem, -45%);
  transform: translate(-0.2rem, -45%);
}
.delivery-select__txt::before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.delivery-select__txt::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: -0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.delivery-select__txt.is-active::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.delivery-select__txt.is-active::after {
  opacity: 0;
}
.delivery-select__list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  height: 0;
  line-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.delivery-select__list.is-open {
  height: auto;
  line-height: 2;
  opacity: 1;
}
.delivery-select__item {
  padding-left: 1rem;
  cursor: pointer;
}
.delivery-select__item:hover {
  background-color: #fff9ed;
}

.counter {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  margin-bottom: 3rem;
  position: relative;
}
.counter__left {
  cursor: pointer;
}
.counter__right {
  cursor: pointer;
}
.counter__amount {
  width: 40%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: inherit;
  text-align: center;
  color: #505050;
}

@media screen and (max-width: 900px) {
  .counter {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Acme", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    margin-bottom: 3rem;
    position: relative;
  }
  .counter__left {
    cursor: pointer;
  }
  .counter__right {
    cursor: pointer;
  }
  .counter__amount {
    width: 40%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: inherit;
    text-align: center;
    color: #505050;
  }
}
.cart-item {
  width: 100%;
  background-color: #fff9ed;
  margin: 0 0 5rem 0;
  position: relative;
}
.cart-item__right1 {
  float: right;
  width: 50%;
}
.cart-item__left {
  float: left;
  width: 45%;
}
.cart-item__right2 {
  float: right;
  width: 50%;
}
.cart-item__sub {
  color: #707070;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.cart-item__ttl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #5d5d5d;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.cart-item__ttl-num {
  font-family: "Josefin Sans", sans-serif;
  padding-right: 1rem;
}
.cart-item__ttl-main {
  font-family: "Acme", sans-serif;
}
.cart-item__material {
  margin-bottom: 2rem;
}
.cart-item__del::before {
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  position: absolute;
  top: 1rem;
  left: -4rem;
  background-color: #707070;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cart-item__del::after {
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  position: absolute;
  top: 1rem;
  left: -4rem;
  background-color: #707070;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.vueperslides__inner .vueperslides__arrows .vueperslides__arrow{
  color: #707070;
}

.vueperslides__inner .vueperslides__bullets .vueperslides__bullet--active{
  color: #505050;
}

.vueperslides__inner .vueperslides__bullets .vueperslides__bullet{
  color: #d5d5d5;
}

@media screen and (max-width: 768px) {
  .cart-item {
    width: 100%;
    background-color: #fff9ed;
    margin: 0 0 5rem 0;
    position: relative;
  }
  .cart-item__right1 {
    float: right;
    width: 50%;
  }
  .cart-item__left {
    float: left;
    width: 45%;
  }
  .cart-item__right2 {
    float: right;
    width: 50%;
  }
  .cart-item__sub {
    color: #707070;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .cart-item__ttl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #5d5d5d;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .cart-item__ttl-num {
    font-family: "Josefin Sans", sans-serif;
    padding-right: 1rem;
  }
  .cart-item__ttl-main {
    font-family: "Acme", sans-serif;
  }
  .cart-item__material {
    margin-bottom: 2rem;
  }
  .cart-item__del {
    position: absolute;
    top: 0;
    left: -2rem;
  }
  .cart-item__del::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    position: absolute;
    top: 1rem;
    left: -2rem;
    background-color: #707070;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .cart-item__del::after {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    position: absolute;
    top: 1rem;
    left: -2rem;
    background-color: #707070;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
@media screen and (max-width: 599px) {
  .cart-item {
    width: 100%;
    background-color: #fff9ed;
    margin: 0 auto 5rem;
    position: relative;
    border-bottom: 1px solid #707070;
    padding-bottom: 5rem;
  }
  .cart-item__right1 {
    float: none;
    width: 100%;
    padding: 0 7.5% 0;
  }
  .cart-item__left {
    float: left;
    width: 40%;
    padding: 0 0 0 7.5%;
  }
  .cart-item__right2 {
    float: right;
    width: 55%;
    padding: 0 7.5% 0 0;
  }
  .cart-item__sub {
    text-align: center;
  }
  .cart-item__ttl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cart-item__material {
    text-align: center;
  }
  .cart-item__del::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    position: absolute;
    top: 1rem;
    left: 4rem;
    background-color: #707070;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .cart-item__del::after {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    position: absolute;
    top: 1rem;
    left: 4rem;
    background-color: #707070;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.purchase-item {
  width: 100%;
  background-color: #fff9ed;
  padding: 2rem 3.5rem;
  margin: 0 0 5rem 0;
  position: relative;
}
.purchase-item__right1 {
  float: right;
  width: 50%;
}
.purchase-item__left {
  float: left;
  width: 45%;
}
.purchase-item__right2 {
  float: right;
  width: 50%;
}
.purchase-item__sub {
  color: #707070;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.purchase-item__ttl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #5d5d5d;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.purchase-item__ttl-num {
  font-family: "Josefin Sans", sans-serif;
  padding-right: 1rem;
}
.purchase-item__ttl-main {
  font-family: "Acme", sans-serif;
}
.purchase-item__material {
  margin-bottom: 2rem;
}
.purchase-item__num {
  width: 70%;
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid #707070;
  font-family: "Acme", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.purchase-item__price {
  font-family: "Acme", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #707070;
}

.purchaser-info__hd3-change {
  color: #505050;
}

.address-info__hd3-change {
  color: #505050;
}

@media screen and (max-width: 599px) {
  .purchase-item {
    width: 100%;
    background-color: #fff9ed;
    padding: 2rem 3.5rem;
    margin: 0 0 5rem 0;
    position: relative;
  }
  .purchase-item__right1 {
    float: none;
    width: 100%;
    padding: 0 7.5% 0;
  }
  .purchase-item__left {
    float: left;
    width: 40%;
    padding: 0;
  }
  .purchase-item__right2 {
    float: right;
    width: 55%;
    padding: 0;
  }
}
.a-btn {
  text-align: center;
}

.a-btn__link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #afafaf;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.a-btn__link:hover {
  opacity: 0.5;
}

.a-btn__link1 {
  font-size: 1.2rem;
  font-weight: bold;
  background: #fff;
  color: #afafaf;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.a-btn__link1:hover {
  opacity: 0.5;
}

.gift-btn {
  text-align: center;
}

.gift-btn__link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: #afafaf;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 1.5rem;
}

.gift-btn__link:hover {
  opacity: 0.5;
}

.b-btn--mb50 {
  margin-bottom: 5rem;
}
.b-btn__btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #afafaf;
  padding: 1rem 4rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.b-btn__btn:hover {
  opacity: 0.5;
}

.bc-btn {
  text-align: center;
}
.bc-btn--mb50 {
  margin-bottom: 5rem;
}
.bc-btn__btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #afafaf;
  padding: 1rem 4rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bc-btn__btn:hover {
  opacity: 0.5;
}

.c-btn__btn {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #d6ac4e;
  background: #fff;
  padding: 1rem 4rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.c-btn__btn:hover {
  opacity: 0.5;
}

.payment {
  margin-bottom: 5rem;
  padding: 0 5rem 0;
}
.payment__order-price {
  border-bottom: 1px solid #707070;
  position: relative;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.payment__postage {
  border-bottom: 1px solid #707070;
  position: relative;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.payment__discout {
  border-bottom: 1px solid #707070;
  position: relative;
  line-height: 1.7;
  margin-bottom: 4rem;
}
.payment__sum {
  border-bottom: 1px solid #707070;
  position: relative;
  line-height: 1.7;
}
.payment__order-price-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.payment__postage-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.payment__discout-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.payment__sum-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.payment__order-price-num {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.payment__postage-num {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.payment__discout-num {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #d17626;
}
.payment__sum-num {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .payment {
    padding: 0 2.5rem 0;
  }
  .payment__order-price-num {
    text-align: right;
  }
  .payment__postage-num {
    text-align: right;
  }
  .payment__discout-num {
    text-align: right;
  }
  .payment__sum-num {
    text-align: right;
  }
  .gift-btn__link {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
  } 
}
/*-----keyframe-----*/
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
/*-----element-----*/
[data-anime=fadeup].is-active {
  opacity: 0;
  visibility: hidden;
}
[data-anime=fadeup].is-active.is-active {
  -webkit-animation: fadeUp 0.7s ease-in-out both;
  animation: fadeUp 0.7s ease-in-out both;
}

/*-----keyframe-----*/
@-webkit-keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*-----element-----*/
body {
  -webkit-animation: fadeIn 0.8s ease-in-out both;
  animation: fadeIn 0.8s ease-in-out both;
}

/*-----keyframe-----*/
@-webkit-keyframes slideToLeft {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideToLeft {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.br {
    white-space: pre-line;
}

/*# sourceMappingURL=map/common.css.map */
