@charset "UTF-8";

.to-product {
  color: #505050;
  position: absolute;
  top: 16rem;
  left: 7.5%;
}

.to-product::before {
  content: "＜　";
}

.detail-container {
  padding: 20rem 0rem 8rem;
  width: 85%;
  margin: auto;
  border-bottom: 1px solid #707070;
}

.detail-container__left {
  float: left;
  width: 50%;
}

.detail-container__right1 {
  float: right;
  width: 40%;
  padding-right: 5%;
}

.detail-container__right2 {
  padding-left: 60%;
}

.detail-sub-container{
  margin-top: 3rem;
}

.detail-container__hd2-sub {
  display: block;
  padding-right: 1rem;
  font-family: "Acme", sans-serif;
}

.detail-container__hd2-ttl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 2rem;
  /* font-weight: bold; */
  margin-bottom: 2rem;
}

.detail-container__hd2-ttl1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 1.3rem;
  /* font-weight: bold; */
  /* margin-bottom: 2rem; */
}

.detail-container__hd2-ttl-num {
  font-family: "Acme", sans-serif;
  font-weight: 300;
  padding-right: 1rem;
}

.detail-container__hd2-ttl-main {
  font-family: "Acme", sans-serif;
  padding-left: 1rem;
}

.detail-container__hd2-ttl-main1 {
  /* font-family: "Acme", sans-serif; */
  padding-left: 1rem;
}

.detail-container__txt {
  line-height: 2;
  margin-bottom: 4rem;
}

.customDiv{
  display:flex;
  margin-left: 12rem;
  flex-wrap: wrap;
  width: 350px;
}

.detail-container__table {
  margin-bottom: 4rem;
  line-height: 2;
  width: 100%;
}

.detail-container__dt {
  float: left;
}

.detail-container__dd {
  cursor: pointer;
}

.detail-container-hd2__sub {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.detail-container-hd2__title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sec-container {
  width: 85%;
  margin: auto;
  padding: 5rem 0;
}

.sec-container__hd3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .to-product {
    top: 16rem;
    right: 7.5%;
  }

  .to-product::before {
    content: "＜　";
  }

  .detail-container {
    width: 85%;
  }

  .detail-container__left {
    float: none;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 12rem 0;
  }

  .detail-container__right1 {
    float: none;
    width: 100%;
    padding: 0 12rem 0;
  }

  .detail-container__right2 {
    float: none;
    width: 100%;
    padding: 0 12rem 0;
  }
}

@media screen and (max-width: 599px) {
  .detail-container {
    width: 100%;
  }

  .detail-container__left {
    float: none;
    width: 85%;
    margin: 0 auto 3rem;
    padding: 0;
  }

  .detail-container__right1 {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }

  .detail-container__right2 {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }
}

/*# sourceMappingURL=map/detail.css.map */
