.sec {
  width: 100%;
  margin: auto;
}

.sec-container {
  width: 85%;
  margin: auto;
  padding: 15rem 0 5rem;
}
.sec-container__hd2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5rem;
}

.product_icon{
  margin: 0 0;
  width:9rem;
}

.product_icon1{
  margin: 0 auto;
  width:11rem;
}

.product_img{
  position: relative;
}

.product_div{
  position: fixed;
  width: 100%;
  top:-25px;
  left:-15px;
}

.product_div1{
  position: fixed;
  width: 100%;
  top:-25px;
}